<!DOCTYPE html>
<html>
<%- include('./Partials/Header')%>
<body>
  <%- include('./Partials/Navbar')%>
  <%- include('./Partials/Sidebar')%>

	<div class="error-page d-flex align-items-center flex-wrap justify-content-center pd-20">
		<div class="pd-20">
			<div class="error-page-wrap text-center"><br><br>
				<img src="/front/img/logo_1.png" alt="">
			</div>
		</div>
	</div>
  <%- include('./Partials/Script') %>
</body>
</html>