<div class="left-side-bar">
  <div class="brand-logo">
    <a href="/">
      Soul | Veggies    
    </a>
    <div class="close-sidebar" data-toggle="left-sidebar-close">
      <i class="ion-close-round"></i>
    </div>
  </div>
  <div class="menu-block customscroll">
    <div class="sidebar-menu">
      <ul id="accordion-menu">
        <li class="dropdown">
          <a href="/" class="dropdown-toggle">
            <span class="micon dw dw-house-1"></span><span class="mtext">ຫນ້າຫລັກ</span>
          </a>
        </li>
        <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle">
            <span class="micon dw dw-user2"></span><span class="mtext">ຈັດການຂໍ້ມູນການຂ່າຍ</span>
          </a>
          <ul class="submenu">
            <li><a href="/user/products">ສິນຄ້າຂອງຂ້ອຍ</a></li>
            <li><a href="/sales/my-sales">ລາຍການຍອດຂາຍທັງຫມົດ</a></li>
          </ul>
        </li>
        <li>
          <a href="/user/logout" class="dropdown-toggle no-arrow">
            <span class="micon dw dw-login"></span><span class="mtext">ອອກຈາກລະບົບ</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="mobile-menu-overlay"></div>