<div class="left-side-bar">
  <div class="brand-logo">
    <a href="/user/dashboard"> Soul | Veggies   
      <!-- <img src="vendors/images/deskapp-logo.svg" alt="" class="dark-logo">
      <img src="vendors/images/deskapp-logo-white.svg" alt="" class="light-logo"> -->
    </a>
    <div class="close-sidebar" data-toggle="left-sidebar-close">
      <i class="ion-close-round"></i>
    </div>
  </div>
  <div class="menu-block customscroll">
    <div class="sidebar-menu">
      <ul id="accordion-menu">
        <li class="dropdown">
          <a href="/user/dashboard" class="dropdown-toggle">
            <span class="micon dw dw-house-1"></span><span class="mtext">ຫນ້າຫລັກ</span>
          </a>
        </li>
        <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle">
            <span class="micon dw dw-user2"></span><span class="mtext">ຈັດການຂໍ້ມູນພະນັກງານຂາຍ</span>
          </a>
          <ul class="submenu">
            <li><a href="/seller">ລາຍຊື່ພະນັກງານຂ່າຍ</a></li>
            <li><a href="/village">ຂໍ້ມູນບ່ອນຂ່າຍ</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle">
            <span class="micon dw dw-paint-palette"></span><span class="mtext">ຂໍ້ມູນພັກ ແລະ ຫມາກໄມ້</span>
          </a>
          <ul class="submenu">
            <li><a href="/vegetable">ຂໍ້ມູນຫມາກໄມ້ ແລະ ພັກ</a></li>
            <li><a href="/category">ຂໍ້ມູນປະເພດຫມາກໄມ້ ແລະ ພັກ</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle">
            <span class="micon dw dw-analytics-21"></span><span class="mtext">ຂໍ້ມູນຍອດຂ່າຍ</span>
          </a>
          <ul class="submenu">
            <li><a href="/sales">ຂໍ້ມູນຍອດວັນນີ້</a></li>
            <!-- <li><a href="ui-carousel.html">ລູກຄ້າທົ່ວໄປ</a></li> -->
          </ul>
        </li>
        <!-- <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle">
            <span class="micon dw dw-book-1"></span><span class="mtext">ຂໍ້ມູນຍອດສັ່ງຈອງ</span>
          </a>
          <ul class="submenu">
            <li><a href="/user/sales">ຂໍ້ມູນຍອດວັນນີ້</a></li>
            <li><a href="ui-carousel.html">ລູກຄ້າທົ່ວໄປ</a></li>
          </ul>
        </li> -->
        <li>
          <a href="#" class="dropdown-toggle no-arrow">
            <span class="micon dw dw-invoice"></span><span class="mtext">Invoice</span>
          </a>
        </li>
        <li>
          <a href="javascript:;" class="dropdown-toggle">
            <span class="micon dw dw-analytics-211"></span><span class="mtext">ລາຍງານຕ່າງໆ</span>
          </a>
          <ul class="submenu">
            <li><a href="#">ລາຍງານຍອດຂ່າຍປະຈຳເດືອນ</a></li>
            <li><a href="#">ລາຍງານສິນຄ້າຂາຍດີ</a></li>
            <li><a href="#">ລາຍງານຍອດສັງຈອງແມ່ຄ້າ</a></li>
            <li><a href="#">ລາຍງານຜັກໃນສ່າງ</a></li>
            <li><a href="#">ລາຍງານຍອດສັງຊື້ເຂົາລະບົບ</a></li>
          </ul>
        </li>
        <li>
          <div class="dropdown-divider"></div>
        </li>
        <li>
          <div class="sidebar-small-cap">Setting</div>
        </li>
        <li>
          <a href="javascript:;" class="dropdown-toggle">
            <span class="micon dw dw-edit-2"></span><span class="mtext">ຂໍ້ມູນພື່ນຖ່ານ</span>
          </a>
          <ul class="submenu">
            <li><a href="/vegetable/add">ເພີ່ມຂໍ້ມູນປະເພດຜັກ</a></li>
            <li><a href="/category/add">ເພີ່ມຂໍ້ມູນປະເພດຫມາກໄມ້</a></li>
            <li><a href="/seller/add">ເພີ່ມຂໍ້ມູນແມ່ຄ້າ</a></li>
            <li><a href="/village/add">ເພີ່ມຂໍ້ມູນເຂດ</a></li>
            <li><a href="/user/create_profile">ຂໍ້ມູນສວນຕົວ</a></li>
          </ul>
        </li>
        <li>
          <a href="/user" class="dropdown-toggle no-arrow">
            <span class="micon dw dw-user"></span>
            <span class="mtext">ຂໍ້ມູນຜູ້ໃຊ້ງານ</span>
          </a>
        </li>
        <li>
          <a href="/user/create-account" class="dropdown-toggle no-arrow">
            <span class="micon dw dw-add-user"></span><span class="mtext">ສ້າງບັນຊີໃຫມ່</span>
            <!-- <i class="icon-copy dw dw-user"></i> -->
          </a>
        </li>
        <li>
          <a href="/user/logout" class="dropdown-toggle no-arrow">
            <span class="micon dw dw-login"></span><span class="mtext">ອອກຈາກລະບົບ</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="mobile-menu-overlay"></div>